.FooterComponent{
	margin-left: 45%;
}

.FooterText{
	text-align: center;
}

.FooterContainer{
	margin-top: 600px;
	position:relative;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}